<%- include("../includes/head.ejs") %>
</head>

<body>
    <%- include("../includes/nav.ejs")%>

    <main>
        
        <% if(product != null){ %>
            <h3><%= product.title%></h3>
                <img height="100" width="80" src= "<%= product.imageUrl%>" alt="<%= product.title%>">
                <p><%= product.description%></p>
                <p>$ <%= product.price%></p>
                <div class="card__actions">
                    <%- include("../includes/add-to-cart.ejs", {product: product}) %>
                </div>
        <% }else{ %>
            <h1>Sorry, no product match this ID.</h1>
        <% } %>
    </main>
</body>

<%- include("../includes/end.ejs") %>