<%- include("../includes/head.ejs") %>
</head>

<body>
    <%- include("../includes/nav.ejs")%>

    <main>
        
        <% if(products.length > 0){ %>
            <h1><%= titleListOfProducts%></h1>
            <% for(let product of products){ %>
                <h3><%= product.title%></h3>
                <img height="100" width="80" src= "<%= product.imageUrl%>" alt="<%= product.title%>">
                <p><%= product.description%></p>
                <p>$ <%= product.price%></p>
                <div class="card__actions">
                    <a href="/admin/edit-product/<%=product.id%>?edit=true"> Edit <%= product.title%></a>
                    <form action="/admin/delete-product" method="POST">
                        <input type="hidden" name="id" id="id" value="<%= product.id%>">
                        <button class="btn"> Delete <%= product.title%></button>
                    </form>
                </div>
            <% } %>
        <% }else{ %>
            <h1>Sorry, no products for now.</h1>
        <% } %>
    </main>
</body>

<%- include("../includes/end.ejs") %>